subflows/pythonruntime.json
[
    {
        "id": "116cb06457dd52bd",
        "type": "tab",
        "label": "dashboard jobs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a7c481a98e79967",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "codepath",
                "value": "/tmp/test.py",
                "type": "str"
            },
            {
                "name": "logfile",
                "value": "/tmp/autopython.log",
                "type": "str"
            },
            {
                "name": "emailsubject",
                "value": "test code",
                "type": "str"
            }
        ]
    },
    {
        "id": "3c9d7e0fbc28d954",
        "type": "subflow",
        "name": "Python Runtie",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "4720bda7b9562a3e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 100,
                "wires": [
                    {
                        "id": "67929dc3d1997e87",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1760,
                "y": 520,
                "wires": [
                    {
                        "id": "548d57bda2b1d684",
                        "port": 0
                    },
                    {
                        "id": "e560c108b57b340f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1380,
                "y": 600,
                "wires": [
                    {
                        "id": "e560c108b57b340f",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "emailsubject",
                "type": "str",
                "value": "Auto Runing Code failed"
            },
            {
                "name": "codepath",
                "type": "str",
                "value": ""
            },
            {
                "name": "logfile",
                "type": "str",
                "value": "/tmp/autopython.log"
            }
        ],
        "meta": {
            "module": "python_runtime_email",
            "version": "0.0.1",
            "author": "Zack Dai",
            "desc": "run a python script, if err send a email",
            "keywords": "Python"
        },
        "color": "#DDAA99",
        "inputLabels": [
            "trigger"
        ],
        "outputLabels": [
            "std out",
            "err msg",
            "normal payload"
        ],
        "icon": "font-awesome/fa-file-powerpoint-o"
    },
    {
        "id": "67929dc3d1997e87",
        "type": "exec",
        "z": "3c9d7e0fbc28d954",
        "command": "python3 ",
        "addpay": "codepath",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "402fe288bc1a8859"
            ]
        ]
    },
    {
        "id": "20b3f52d0a88be51",
        "type": "e-mail",
        "z": "3c9d7e0fbc28d954",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "zack.dai@delta4digital.com",
        "dname": "err warning email",
        "x": 1650,
        "y": 120,
        "wires": []
    },
    {
        "id": "e560c108b57b340f",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "89cdf079c2d23a1b"
            ],
            [
                "b471303f36625e41"
            ]
        ]
    },
    {
        "id": "402fe288bc1a8859",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.codepath",
                "pt": "msg",
                "to": "codepath",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "e560c108b57b340f"
            ]
        ]
    },
    {
        "id": "8f736d0738553d91",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "email formatter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<head>\n</head>\n\n\n<body>\n    <p>Code running fail:{{{payload.filename }}}</p>\n    <p>Time: {{{payload.time }}}</p>\n    <p>Msg: {{{payload.message }}}</p>\n </body>",
        "output": "str",
        "x": 1340,
        "y": 140,
        "wires": [
            [
                "20b3f52d0a88be51"
            ]
        ]
    },
    {
        "id": "89cdf079c2d23a1b",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "emailsubject",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "8f736d0738553d91",
                "b49f01fb6679be26"
            ]
        ]
    },
    {
        "id": "b471303f36625e41",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "success template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.time}}} {{{payload.codepath}}} success",
        "output": "str",
        "x": 1270,
        "y": 320,
        "wires": [
            [
                "67b492276a51a039"
            ]
        ]
    },
    {
        "id": "b49f01fb6679be26",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "fail tmplate",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.time}}} {{{payload.codepath}}} FAIL!!!",
        "output": "str",
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "67b492276a51a039"
            ]
        ]
    },
    {
        "id": "f1f4d4d2d39f060b",
        "type": "file",
        "z": "3c9d7e0fbc28d954",
        "name": "joblogs",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1820,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4720bda7b9562a3e",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "msg.codepath check",
        "property": "codepath",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "67929dc3d1997e87"
            ],
            [
                "85113b441de78bd4"
            ]
        ]
    },
    {
        "id": "548d57bda2b1d684",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.filename",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.code",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Error. No codepath set, set a msg.codepath before sent to the subflow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "85113b441de78bd4",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "$codepath check",
        "property": "codepath",
        "propertyType": "env",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "19060ed1fe7d5397"
            ],
            [
                "548d57bda2b1d684"
            ]
        ]
    },
    {
        "id": "19060ed1fe7d5397",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "codepath in variable",
        "rules": [
            {
                "t": "set",
                "p": "codepath",
                "pt": "msg",
                "to": "codepath",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "67929dc3d1997e87"
            ]
        ]
    },
    {
        "id": "67b492276a51a039",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "set logfile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "logfile",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 260,
        "wires": [
            [
                "f1f4d4d2d39f060b"
            ]
        ]
    },
    {
        "id": "0ac60ce71e3176e1",
        "type": "debug",
        "z": "116cb06457dd52bd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c0217e80d49134b",
        "type": "subflow:3c9d7e0fbc28d954",
        "z": "116cb06457dd52bd",
        "name": "",
        "env": [
            {
                "name": "apppassword",
                "type": "cred"
            }
        ],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "ccafebe69fe610af"
            ],
            [
                "0ac60ce71e3176e1"
            ],
            [
                "9887d2043413af75",
                "517ff9a33c880af0"
            ]
        ]
    },
    {
        "id": "ccafebe69fe610af",
        "type": "debug",
        "z": "116cb06457dd52bd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "9887d2043413af75",
        "type": "debug",
        "z": "116cb06457dd52bd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "02f0565f98558081",
        "type": "cronplus",
        "z": "116cb06457dd52bd",
        "name": "Daily Job",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "dailyjob",
                "topic": "dailyjob",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 0 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 100,
        "y": 160,
        "wires": [
            [
                "55a075a03d2d5482"
            ]
        ]
    },
    {
        "id": "55a075a03d2d5482",
        "type": "file in",
        "z": "116cb06457dd52bd",
        "name": "dailyjob.csv",
        "filename": "/home/zack/bi/autojob/daily.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "de47dd4d29a5c54a"
            ]
        ]
    },
    {
        "id": "de47dd4d29a5c54a",
        "type": "csv",
        "z": "116cb06457dd52bd",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "f6dbc81ee26a15e5"
            ]
        ]
    },
    {
        "id": "8a6f119619e97a2a",
        "type": "change",
        "z": "116cb06457dd52bd",
        "name": "set codepath",
        "rules": [
            {
                "t": "set",
                "p": "codepath",
                "pt": "msg",
                "to": "payload.codepath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "3c0217e80d49134b",
                "ec3b6a97e9e5911b"
            ]
        ]
    },
    {
        "id": "4be6b4f4e35216a9",
        "type": "loop",
        "z": "116cb06457dd52bd",
        "name": "",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "payload",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-val",
        "finalPayload": "final-orig",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "ceba312b155597ad"
            ],
            [
                "8a6f119619e97a2a"
            ]
        ]
    },
    {
        "id": "f6dbc81ee26a15e5",
        "type": "join",
        "z": "116cb06457dd52bd",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "4be6b4f4e35216a9"
            ]
        ]
    },
    {
        "id": "517ff9a33c880af0",
        "type": "delay",
        "z": "116cb06457dd52bd",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "4be6b4f4e35216a9"
            ]
        ]
    },
    {
        "id": "ec3b6a97e9e5911b",
        "type": "debug",
        "z": "116cb06457dd52bd",
        "name": "codepath track",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.codepath",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "ceba312b155597ad",
        "type": "debug",
        "z": "116cb06457dd52bd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "ded8e84b6cb4b0eb",
        "type": "exec",
        "z": "8a7c481a98e79967",
        "command": "python3 ",
        "addpay": "codepath",
        "append": "",
        "useSpawn": "false",
        "timer": "60",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 660,
        "y": 200,
        "wires": [
            [],
            [
                "d22638fd7bec3079"
            ],
            [
                "f66d8450d10c07c2",
                "c811727a6a89a4b7"
            ]
        ]
    },
    {
        "id": "649ef4cfa38185c7",
        "type": "e-mail",
        "z": "8a7c481a98e79967",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "zack.dai@delta4digital.com",
        "dname": "err warning email",
        "x": 1590,
        "y": 160,
        "wires": []
    },
    {
        "id": "b4eb69c2c22a480d",
        "type": "switch",
        "z": "8a7c481a98e79967",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "1ff3f1ba0f13efda"
            ],
            [
                "ca9f90f7e27c9415"
            ]
        ]
    },
    {
        "id": "f66d8450d10c07c2",
        "type": "change",
        "z": "8a7c481a98e79967",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.codepath",
                "pt": "msg",
                "to": "codepath",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "b4eb69c2c22a480d"
            ]
        ]
    },
    {
        "id": "af84c7670240aa73",
        "type": "template",
        "z": "8a7c481a98e79967",
        "name": "email formatter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<head>\n</head>\n\n\n<body>\n    <p>Code running fail:{{{payload.filename }}}</p>\n    <p>Time: {{{payload.time }}}</p>\n    <p>Msg: {{{payload.message }}}</p>\n </body>",
        "output": "str",
        "x": 1280,
        "y": 180,
        "wires": [
            [
                "649ef4cfa38185c7"
            ]
        ]
    },
    {
        "id": "1ff3f1ba0f13efda",
        "type": "change",
        "z": "8a7c481a98e79967",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "emailsubject",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "af84c7670240aa73",
                "ae88ad06eae6851e"
            ]
        ]
    },
    {
        "id": "ca9f90f7e27c9415",
        "type": "template",
        "z": "8a7c481a98e79967",
        "name": "success template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.time}}} {{{payload.codepath}}} success",
        "output": "str",
        "x": 1210,
        "y": 360,
        "wires": [
            [
                "e08d8481ce7e1a97"
            ]
        ]
    },
    {
        "id": "ae88ad06eae6851e",
        "type": "template",
        "z": "8a7c481a98e79967",
        "name": "fail tmplate",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.time}}} {{{payload.codepath}}} FAIL!!!",
        "output": "str",
        "x": 1250,
        "y": 280,
        "wires": [
            [
                "e08d8481ce7e1a97"
            ]
        ]
    },
    {
        "id": "3c4cf23ea696626f",
        "type": "file",
        "z": "8a7c481a98e79967",
        "name": "joblogs",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1840,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "14a62ceacb1b4a0c",
        "type": "switch",
        "z": "8a7c481a98e79967",
        "name": "msg.codepath check",
        "property": "codepath",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "38dfdc62296dd6cb"
            ],
            [
                "bcb2cc4a2be53b0c"
            ]
        ]
    },
    {
        "id": "ac260c630698a195",
        "type": "change",
        "z": "8a7c481a98e79967",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.filename",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.code",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Error. No codepath set, set a msg.codepath before sent to the subflow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "c3e9fb93fd83150b"
            ]
        ]
    },
    {
        "id": "bcb2cc4a2be53b0c",
        "type": "switch",
        "z": "8a7c481a98e79967",
        "name": "$codepath check",
        "property": "codepath",
        "propertyType": "env",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "ecc7a63c3ad2d257"
            ],
            [
                "ac260c630698a195"
            ]
        ]
    },
    {
        "id": "ecc7a63c3ad2d257",
        "type": "change",
        "z": "8a7c481a98e79967",
        "name": "codepath in variable",
        "rules": [
            {
                "t": "set",
                "p": "codepath",
                "pt": "msg",
                "to": "codepath",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "38dfdc62296dd6cb",
                "ded8e84b6cb4b0eb"
            ]
        ]
    },
    {
        "id": "e08d8481ce7e1a97",
        "type": "switch",
        "z": "8a7c481a98e79967",
        "name": "logfile check",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 380,
        "wires": [
            [
                "b1dfc786c5d904d3"
            ],
            [
                "3c4cf23ea696626f",
                "7941b51779117771"
            ]
        ]
    },
    {
        "id": "b1dfc786c5d904d3",
        "type": "change",
        "z": "8a7c481a98e79967",
        "name": "default logfile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "logfile",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 260,
        "wires": [
            [
                "3c4cf23ea696626f",
                "bf8b2c37b9752c78"
            ]
        ]
    },
    {
        "id": "5a58f933ed3f5b91",
        "type": "inject",
        "z": "8a7c481a98e79967",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "14a62ceacb1b4a0c"
            ]
        ]
    },
    {
        "id": "c3e9fb93fd83150b",
        "type": "debug",
        "z": "8a7c481a98e79967",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "c811727a6a89a4b7",
        "type": "debug",
        "z": "8a7c481a98e79967",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "d22638fd7bec3079",
        "type": "debug",
        "z": "8a7c481a98e79967",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "38dfdc62296dd6cb",
        "type": "debug",
        "z": "8a7c481a98e79967",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "bf8b2c37b9752c78",
        "type": "debug",
        "z": "8a7c481a98e79967",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 220,
        "wires": []
    },
    {
        "id": "7941b51779117771",
        "type": "debug",
        "z": "8a7c481a98e79967",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 500,
        "wires": []
    }
]
