subflows/pythonruntime.json
[
    {
        "id": "3c9d7e0fbc28d954",
        "type": "subflow",
        "name": "Python Runtie",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 320,
                "wires": [
                    {
                        "id": "81bc9dcdc6f12ca7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 100,
                "wires": [
                    {
                        "id": "67929dc3d1997e87",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 440,
                "wires": [
                    {
                        "id": "e560c108b57b340f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1040,
                "y": 560,
                "wires": [
                    {
                        "id": "e560c108b57b340f",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "emailsubject",
                "type": "str",
                "value": "Auto Runing Code failed"
            }
        ],
        "meta": {
            "module": "python_runtime_email",
            "version": "0.0.1",
            "author": "Zack Dai",
            "desc": "run a python script, if err send a email",
            "keywords": "Python"
        },
        "credentials": {
            "apppassword": "seywjrmakrtrotav"
        },
        "color": "#DDAA99",
        "inputLabels": [
            "trigger"
        ],
        "outputLabels": [
            "std out",
            "err msg",
            "normal payload"
        ],
        "icon": "font-awesome/fa-file-powerpoint-o"
    },
    {
        "id": "67929dc3d1997e87",
        "type": "exec",
        "z": "3c9d7e0fbc28d954",
        "command": "python3 ",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 300,
        "wires": [
            [],
            [],
            [
                "402fe288bc1a8859"
            ]
        ]
    },
    {
        "id": "a6319520672c033f",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "test.py",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/tmp/test.py",
        "output": "str",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "67929dc3d1997e87"
            ]
        ]
    },
    {
        "id": "20b3f52d0a88be51",
        "type": "e-mail",
        "z": "3c9d7e0fbc28d954",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "zack.dai@delta4digital.com",
        "dname": "err warning email",
        "x": 1270,
        "y": 180,
        "wires": []
    },
    {
        "id": "e560c108b57b340f",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 460,
        "wires": [
            [
                "89cdf079c2d23a1b"
            ],
            []
        ]
    },
    {
        "id": "402fe288bc1a8859",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.filename",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "e560c108b57b340f"
            ]
        ]
    },
    {
        "id": "8f736d0738553d91",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "email formatter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<head>\n</head>\n\n\n<body>\n    <p>Code running fail:{{{payload.filename }}}</p>\n    <p>Time: {{{payload.time }}}</p>\n    <p>Msg: {{{payload.message }}}</p>\n </body>",
        "output": "str",
        "x": 1060,
        "y": 180,
        "wires": [
            [
                "20b3f52d0a88be51"
            ]
        ]
    },
    {
        "id": "89cdf079c2d23a1b",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "emailsubject",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "8f736d0738553d91"
            ]
        ]
    },
    {
        "id": "81bc9dcdc6f12ca7",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "set filename",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "a6319520672c033f"
            ],
            [
                "67929dc3d1997e87"
            ]
        ]
    }
]
