subflows/pythonruntime.json
[
    {
        "id": "3c9d7e0fbc28d954",
        "type": "subflow",
        "name": "Python Runtie",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "4720bda7b9562a3e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 100,
                "wires": [
                    {
                        "id": "67929dc3d1997e87",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1760,
                "y": 520,
                "wires": [
                    {
                        "id": "548d57bda2b1d684",
                        "port": 0
                    },
                    {
                        "id": "e560c108b57b340f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1380,
                "y": 600,
                "wires": [
                    {
                        "id": "e560c108b57b340f",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "emailsubject",
                "type": "str",
                "value": "Auto Runing Code failed"
            },
            {
                "name": "codepath",
                "type": "str",
                "value": ""
            },
            {
                "name": "logfile",
                "type": "str",
                "value": "/tmp/autopython.log"
            }
        ],
        "meta": {
            "module": "python_runtime_email",
            "version": "0.0.1",
            "author": "Zack Dai",
            "desc": "run a python script, if err send a email",
            "keywords": "Python"
        },
        "color": "#DDAA99",
        "inputLabels": [
            "trigger"
        ],
        "outputLabels": [
            "std out",
            "err msg",
            "normal payload"
        ],
        "icon": "font-awesome/fa-file-powerpoint-o"
    },
    {
        "id": "67929dc3d1997e87",
        "type": "exec",
        "z": "3c9d7e0fbc28d954",
        "command": "python3 ",
        "addpay": "codepath",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "402fe288bc1a8859"
            ]
        ]
    },
    {
        "id": "20b3f52d0a88be51",
        "type": "e-mail",
        "z": "3c9d7e0fbc28d954",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "zack.dai@delta4digital.com",
        "dname": "err warning email",
        "x": 1650,
        "y": 120,
        "wires": []
    },
    {
        "id": "e560c108b57b340f",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "89cdf079c2d23a1b"
            ],
            [
                "b471303f36625e41"
            ]
        ]
    },
    {
        "id": "402fe288bc1a8859",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.codepath",
                "pt": "msg",
                "to": "codepath",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "e560c108b57b340f"
            ]
        ]
    },
    {
        "id": "8f736d0738553d91",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "email formatter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<head>\n</head>\n\n\n<body>\n    <p>Code running fail:{{{payload.filename }}}</p>\n    <p>Time: {{{payload.time }}}</p>\n    <p>Msg: {{{payload.message }}}</p>\n </body>",
        "output": "str",
        "x": 1340,
        "y": 140,
        "wires": [
            [
                "20b3f52d0a88be51"
            ]
        ]
    },
    {
        "id": "89cdf079c2d23a1b",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "emailsubject",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "8f736d0738553d91",
                "b49f01fb6679be26"
            ]
        ]
    },
    {
        "id": "b471303f36625e41",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "success template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.time}}} {{{payload.codepath}}} success",
        "output": "str",
        "x": 1270,
        "y": 320,
        "wires": [
            [
                "67b492276a51a039"
            ]
        ]
    },
    {
        "id": "b49f01fb6679be26",
        "type": "template",
        "z": "3c9d7e0fbc28d954",
        "name": "fail tmplate",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{payload.time}}} {{{payload.codepath}}} FAIL!!!",
        "output": "str",
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "67b492276a51a039"
            ]
        ]
    },
    {
        "id": "f1f4d4d2d39f060b",
        "type": "file",
        "z": "3c9d7e0fbc28d954",
        "name": "joblogs",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1820,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4720bda7b9562a3e",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "msg.codepath check",
        "property": "codepath",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "67929dc3d1997e87"
            ],
            [
                "85113b441de78bd4"
            ]
        ]
    },
    {
        "id": "548d57bda2b1d684",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.filename",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.code",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Error. No codepath set, set a msg.codepath before sent to the subflow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "85113b441de78bd4",
        "type": "switch",
        "z": "3c9d7e0fbc28d954",
        "name": "$codepath check",
        "property": "codepath",
        "propertyType": "env",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "19060ed1fe7d5397"
            ],
            [
                "548d57bda2b1d684"
            ]
        ]
    },
    {
        "id": "19060ed1fe7d5397",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "codepath in variable",
        "rules": [
            {
                "t": "set",
                "p": "codepath",
                "pt": "msg",
                "to": "codepath",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "67929dc3d1997e87"
            ]
        ]
    },
    {
        "id": "67b492276a51a039",
        "type": "change",
        "z": "3c9d7e0fbc28d954",
        "name": "set logfile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "logfile",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 260,
        "wires": [
            [
                "f1f4d4d2d39f060b"
            ]
        ]
    }
]
